a {
    font-size: 16px;
    font-weight: bold;
}

.content {
   /* background-color: Lavender; */
    font-size: 24px;
    font-weight: bold;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.title {
    color: blue;
    font-weight: bold;
    font-size: 36px;
}
