<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/div.css">
  </head>
  <body>
  <h1><a href="/">Home</a>
    <a href="/blogs">Blogs</a></h1>
    <h2>Blog lists ...</h2>
    {{with .Posts}}
      {{range .}}
        <div>
          <strong>
            <em>
              <a href="/blog/{{.Title}}">{{.Title}}</a>
            </em>
          </strong>
        </div>
        <div>
          <a href="/blog/update/{{.Title}}">update</a>
          <a href="/blog/delete/{{.Title}}">delete</a>
        </div>
        </br>
      {{end}}
    {{end}}
  </body>
</html>
