<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/div.css">
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Add new post</h1>

      <form action="/blog/save/" method="POST">
        <div>Title: </br>
          <textarea name="title" rows="1" cols="80"></textarea></div>
        </br>
        <div>Content: </br>
          <textarea name="body" rows="30" cols="90"></textarea></div>
          </br>
        <div><input type="submit" value="Save"></div>
      </form>
  </body>
</html>
